.iframe1 {
  font-family: 'comic sans ms';
  color: #FFFFFF !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #DEE3F9;
  padding: 10px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(top,  #6420C9,  #7F29FF);
  background: -ms-linear-gradient(top,  #6420C9,  #7F29FF);
  background: -webkit-gradient(linear, left top, left bottom, from(#6420C9), to(#7F29FF));
  background: -moz-linear-gradient(top,  #6420C9,  #7F29FF);
}
